<!DOCTYPE html>

<html lang="en">

<head>


<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>ResumeIQ | AI Resume Analyzer</title>

<!-- Browser Tab Icon -->
<link rel="icon"
      type="image/png"
      href="https://cdn-icons-png.flaticon.com/512/942/942748.png">

<!-- CSS -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

<div class="container">


<div class="header">

    <h1>ResumeIQ</h1>

    <p>
        AI-Powered Resume Screening & ATS Analysis
    </p>

</div>

<div class="upload-card">

    <form method="POST"
          enctype="multipart/form-data">

        <label>
            Upload Resume (PDF)
        </label>

        <input
            type="file"
            name="resume_file"
            accept=".pdf"
            required>

        <label>
            Job Description
        </label>

        <textarea
            name="jd_text"
            placeholder="Paste Job Description Here..."
            required></textarea>

        <button type="submit">

            Analyze Resume

        </button>

    </form>

</div>

{% if result %}

<div class="results-container">

    <div class="score-card">

        <div class="score-box">

            {{ result.score }}%

        </div>

        <h2>Match Score</h2>

        <p class="recommendation">

            {{ result.recommendation }}

        </p>

        <p class="filename">

            Resume:
            {{ result.filename }}

        </p>

    </div>

    <div class="skills-grid">

        <div class="skill-card">

            <h3>✅ Matched Skills</h3>

            {% if result.matched_skills %}

                {% for skill in result.matched_skills %}

                    <span class="skill-pill matched">

                        {{ skill }}

                    </span>

                {% endfor %}

            {% else %}

                <p>No matched skills found</p>

            {% endif %}

        </div>

        <div class="skill-card">

            <h3>❌ Missing Skills</h3>

            {% if result.missing_skills %}

                {% for skill in result.missing_skills %}

                    <span class="skill-pill missing">

                        {{ skill }}

                    </span>

                {% endfor %}

            {% else %}

                <p>No missing skills found</p>

            {% endif %}

        </div>

    </div>

</div>

{% endif %}


</div>

</body>

</html>
